VITE_FIREBASE_API_KEY=AIzaSyCVkq0Rx1ouZv_qiZczqu8odO28zuDLbjM
VITE_FIREBASE_AUTH_DOMAIN=travelsync-d271d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=travelsync-d271d
VITE_FIREBASE_STORAGE_BUCKET=travelsync-d271d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=778790416103
VITE_FIREBASE_APP_ID=1:778790416103:web:41cf91365fdfaa13747c42

VITE_PLACES_API_KEY=72221e7c1emsh2fc5575f54f9949p102e88jsnf41bece63ac0

VITE_MAPPLS_API_KEY=your_mappls_access_token
